@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a { text-decoration: none; color: inherit; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************************  *****************************/
body, html, * { box-sizing: border-box; }
body { overflow-x: hidden; }
#wrap {
	width: 100%;
	height: 100vh;
	display: grid;
    grid-template-rows: 50px 1fr 50px;
}
#contents {
	display: grid;
	grid-template-columns: 200px 1fr;
	position: relative;
}
.inner {
	padding: 20px;
}
header, footer {
	width: 100%;
	text-align: center;
	color: #fff;
	background: #333;
	display: flex;
    align-items: center;
}
header {
    justify-content: flex-end;
    gap: 0 20px;
}
header > a {
	display: inline-block;
	padding: 5px 10px;
	background: #f1f1f1;
	color: #000;
}

nav {
	padding: 20px;
	background: #f1f1f1;
}
nav ul li {
	margin-top: 10px;
}
.sidebar {
	position: absolute;
	width: 300px;
	padding: 20px;
	right: -100%;
	top: -50px;
	bottom: -50px;
	background: #f1f1f1;
	transition: all .2s;
	z-index: 10;
}
.sidebar.on {
	right: 0;
}
.sidebar .btnSidebar {
	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
	font-size: 0;
	position: absolute;
	right: 20px;
	top: 20px;
}
.sidebar .btnSidebar::before {
	content: 'X';
    font-size: 20px;
    font-weight: 700;
}
#popup {
	width: 300px;
	height: 300px;
	margin: 50px;
	border: 1px solid #ddd;
}
#popup .popupHeader {
	padding: 5px 10px;
	border-bottom: 1px solid #000;
	font-size: 16px;
	font-weight: 700;
}
/* login */
.login-box {
    width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 100px auto;
}
.login-box li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.login-box li a {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background: #999;
    color: #fff;
    font-weight: 600;
}
.login-box li a.btnSubmit {
   background: #000;
}
.login-box li > p { width: 80px; }
.login-box li > input,
.login-box li > select {
    width: 200px;
    border: none;
    border-bottom: 1px solid #ddd;
    height: 30px;
}
.login-box li > select {
    text-align: right;
    padding-right: 20px;
}
.login-box li:first-child {
    display: block;
    margin: 15px 0;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}

.treemenu > ul { margin-left: 20px;list-style: circle; }
.treemenu > ul li { list-style: circle; }
.treemenu > ul li ul,
.treemenu > ul li ul li  ul  { margin-left: 20px; list-style: disc;}
.treemenu li { margin-top: 10px; }
.search-box form {
    display: flex;
    gap: 0 10px;
    justify-content: space-between;
}
.search-box form select {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}
.search-box form button {
    border: 1px solid #333;
    background: #333;
    color: #fff;
    width: 100px;
    font-weight: 700;
    font-size: 15px;
    border-radius: 5px;
}
.search-box form input {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}